html {
    background-color: #f5f5f6
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.option-body {
    width: 550px;
}
div.option {
    display: block;
    margin: auto;
    padding-top: 24px;
    margin: 24px;
    margin-top: 0;
    border-top: 1px solid #d7d7dc;
}
div.options-group {
   border: 1px solid #d7d7dc;
   border-radius: 4px;
   background-color: white;
}
div.metafield {
    display: block;
    margin: auto;
    padding-top: 24px;
    margin: 24px;
    margin-top: 0;
    border-top: 1px solid #d7d7dc;
}
.metafield-key {
    float: left;
    margin-left: 8px;
    margin-right: 16px;
    width: 37%;
}
.metafield-value {
    float: left;
    width: 37%;
}
h2 {
    text-align: left;
    margin-left: 24px;
}
label {
    font-weight: bold;
    float: left;
}
input {
   float: right;
}
.option-description {
    display: block;
    text-align: left;
    margin-left: 1px;
    color: #6e6e78;
}
span.button-description {
    color: #6e6e78;
}
.option-description:before { content: '\A\A'; white-space:pre; }
button { 
    background-color: #64943e; 
    color: #ffffff; 
    border-radius: 12px;
    margin: 12px;
    padding: 4px 12px;
    cursor: pointer;
}
button:hover {
    background-color: #95bf47;
}
button.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
button.metafield-delete {
    float: right;
    margin: 1px;
}
